@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*shared style */
.display-flex{
    display: flex;
}

.btn{
    font-weight: 600;
    font-size: 16px;
    padding: 26px 50px;
    background-color: #E95A08;
    cursor: pointer;
    color: white;
    width: 270px;
    border: none;
}

.clr-1{
    color: #111111;
}
.clr-2{
    color: #8987A1;
}
.clr-3{
    color: #000000;
}
.clr-4{
    color: #252432;
    font-weight: bold;
}
.clr-5{
    color: #E95A08;
}
.clr-6{
    color: rgba(0, 0, 0, 0.5);
}

/*header style*/

/*navbar style*/
.navbar{
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1440px;
    max-height: 71px;
}
.nav-item{
    list-style: none;
    margin-right: 48px;
}
.nav-link{
    text-decoration: none;
    font-size: 16px;
}
.cart{
    width: 24px;
    height: 24px;
    justify-items: center;
}

/* banner style*/
.bnr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px auto;
    max-width: 1440px;
    max-height: 460px;
}
.bnr-title{
    font-size: 65px;
    font-weight: bold;
    
}
.bnr-description{
    font-size: 22px;
}
/*main style*/
.shop{
    max-width: 1440px;
    max-height: 140px;
    margin: 120px auto 120px auto;
}
.about-shop{
    text-align: center;
    gap: 50px;
}
.about-title{
    font-size: 50px;
    font-weight: bold;
}
.about-description{
    font-size: 22px;
}
.item-container{
    display:flex;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    margin: 10px auto 110px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.shop-item{
    text-align: center;
    gap: -30px;
}
.item-name{
    font-weight: 500;
    font-size: 22px;

}
.item-price{
    font-weight: bold;
    font-size: 22px;
}

/* flower & plant lover*/
.fp-lover{
    display: flex;
    max-width: 1440px;
    max-height: 597px;
    margin: 0px auto;
    margin: 1350px auto 50px auto;

}
.fp-pic{
    width: 710px;
    height: 597px;
}
#trusted-badge{
    width: 285px;
    height: 285px;
    margin-left: 390px;
    margin-top: -200px;
    animation: rotate360 10s linear infinite;
}
@keyframes rotate360{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.fp-lover-title{
    font-size: 50px;
    font-weight: bold;
}
.fp-dec{
    font-size: 22px;
    margin-bottom: 20px;
    gap: 20px;
}

.fp-dec-sec{
    width: 710px;
    height: 650px;
    gap: 20px;
}
/* deal section style*/
.deal{
    justify-content: center;
    text-align: center;
    margin: 80px auto;
    width: 1440px;
    height: 135px;
    gap: 15px;

}
.deal-title{
    font-size: 50px;
    font-weight: bold;
}
.deal-dec{
    font-size: 22px;
}

.deal-pic{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 100px;
   
}

.deal-con{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    gap: 20px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
    
}
.deal-con a{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.deal-con-1{
    background-image: url("../assets/deal-bloom.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 365px;
    height: 195px; 
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;  
}
.deal-con-2{
    background-image: url("../assets/deal-ana.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 365px;
    height: 195px;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken; 
}
.deal-con-3{
    background-image: url("../assets/deal-zabo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 753px;
    height: 412px;
    border-radius: 14px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    justify-content: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.deal-con-3 a{
    font-size: 28px;
    font-weight: 600;
    color: white;
}
/*join section style*/
.join{
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
    margin: 700px 0px 10px 0px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 80px 10px;
}
.join-title{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.email{
    width: 644px;
    height: 53px;
    padding: 8px 20px;
    font-size: 16px;
}
/*footer style*/
footer{
    max-width: 1440px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}
.ft-logo{
    font-size: 22px;
}
.ft-anc a{
     text-decoration: none;
     text-align: center;
     gap: 20px;
     font-size: 16px;
     color: #6B7280;
}
.ft-web{
   row-gap: 24px;
}

/*responsive*/

@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: row;
        
    }
    .hide{
        display: none;
    }
    .bnr{
        flex-direction: column-reverse;
        margin-top: 500px;
    }
    .item-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .fp-lover{
        flex-direction: column;
        margin: 2400px auto 50px auto;
    }
    #trusted-badge{
        display: none;
    }
    .deal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1100px;
        margin-left: 0px;
    }
    .deal-pic{
        flex-direction: column;
        width: 393px;
        height: 581px;
    }
    .deal-con-3{
        width: 365px;
        height: 195px;
    }
    .deal-title, .deal-dec{
        justify-content: center;
        justify-items: center;
        text-align: center;
        width: 393px;
        height: 117px;
    }
    .join{
        width: 393px;
        height: 275px;
        margin: 500px auto 20px auto;
    }
    .join-title{
        font-size: 20px;
    }
    .email{
    width: 80%;
    height: 50px;
    }
    footer{
        flex-direction: column;
        gap: 20px;
    }
}